<div class="home-page">
    <p class="home-description">Go ahead, make my day.</p>
      <div class="text-center" style="margin: 30px ">
        <%= link_to "Book your spaceworking", new_request_path, class:"btn-dark" %>
      </div>
</div>
